*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container2{
    min-height: 70vh;
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;    
    /* outline: 2px solid red; */
    flex-wrap: wrap;
}

.card{
    min-width: 25ch;
    margin: 2.5% 2.5%;
    flex: 0 1 28%;
}

.but{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.but > *{
    flex: 1 1 50%;
}

.align{
    margin: 50% 0%;
}

.h{
    text-align: center;
    overflow: hidden;
    margin: 1.5% auto;
}

.addTodo{
    padding: 0 25%;
}

.h4{
    font-size: 1rem;
    padding: 0% 44.25%;

}